* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 800px;
}

.main-visual1 {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: right;
}

.main-visual2 {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: right;
}

.main-visual3 {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: right;
}

.main-visual4 {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: right;
}